config controller 'main'
	option enabled '1'
	option host ''
	option controller_id ''
	option site_id ''
	option username ''
	option password ''

config agent 'main'
	option log_level 'info'
	option protocol_trace '0'
	option state_path '/var/lib/openomada/managed-state.json'
	option inform_interval_ms '30000'

config device 'main'
	option name 'OpenOmada-AP'
	option mac ''
	option model 'EAP110'
	option model_version '4.0'
	option hardware_version '4.0'
	option firmware_version '5.0.4'

config portal 'main'
	option enabled '1'
	option engine 'opennds'
	option gatewayfqdn 'disable'
	option themespec_path '/usr/lib/opennds/theme_openomada_redirect.sh'
	option flush_conntrack_on_deauth '1'
