config controller 'main'
	option enabled '0'
	option host ''
	option controller_id ''
	option site_id ''
	option username ''
	option password ''

config agent 'main'
	option log_level 'info'
	option protocol_trace '0'
	option platform 'openwrt'
	option radio_bands '2g'
	option max_ssids '4'
	option state_path '/var/lib/openomada/managed-state.json'
	option inform_interval_ms '30000'
	option tcp_timeout_seconds '15'
	option reconnect_delay_ms '3000'
	option managed_reconnect_attempts '3'
	option discovery_port '29810'
	option manage_port '29814'
	option local_discovery_port '0'

config device 'main'
	option name 'OpenOmada-AP'
	option mac ''
	option model 'EAP110'
	option model_version '4.0'
	option hardware_version '4.0'
	option firmware_version '5.0.4'

config portal 'main'
	option enabled '1'
	option engine 'opennds'
	option gatewayfqdn 'disable'
	option themespec_path '/usr/lib/opennds/theme_openomada_redirect.sh'
	option flush_conntrack_on_deauth '1'
