config controller 'main'
	option enabled '1'
	option host ''
	option controller_id ''
	option site_id ''
	option username ''
	option password ''

config device 'main'
	option name 'OpenOmada-AP'
	option mac ''
	option model 'EAP110'
	option model_version '4.0'
	option hardware_version '4.0'
	option firmware_version '5.0.4'

